@charset "UTF-8";
/*Colors*/
/*Fonts*/
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.box-page-3 .school::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

.box-page-3 .school::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

.box-page-3 .school::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

.box-page-3 .skills::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

.box-page-3 .skills::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

.box-page-3 .skills::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555; }

body {
  background: url("../img/background/backgroundfinal.jpg") no-repeat;
  background-size: 100%;
  background-position: bottom;
  background-attachment: fixed; }

header {
  display: block;
  position: relative;
  padding-top: 50px; }

/*animação*/
[data-anime] {
  opacity: 0;
  transition: .3s ease; }

[data-anime="bottom"] {
  transform: translate3d(0px, 150px, 0px); }

[data-anime="top"] {
  transform: translate3d(0px, -150px, 0px); }

[data-anime="left"] {
  transform: translate3d(-150px, 0px, 0px); }

[data-anime="right"] {
  transform: translate3d(150px, 0px, 0px); }

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px); }

nav {
  position: relative; }

nav .navbar-toggle {
  width: 30px;
  display: block;
  height: 30px;
  background: red;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  visibility: hidden;
  opacity: 0; }

.navbar {
  width: 100%;
  background-color: transparent;
  text-align: center;
  display: block;
  -webkit-padding-start: 0px;
  color: white;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 200; }

.navbar li {
  text-align: center;
  display: inline-block;
  padding: 25px 15px;
  cursor: pointer;
  position: relative;
  color: #e1e1e1;
  transition: width 1s ease 1s; }

.navbar li a {
  text-decoration: none;
  color: inherit; }

.navbar li.active:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  background-color: #009e7d; }

.navbar li:after {
  content: '';
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 0px;
  background-color: #009e7d;
  transition: width .3s ease; }

.navbar li:hover:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  background-color: #009e7d; }

.box {
  margin-bottom: 100px;
  position: relative; }

.about {
  border-radius: 5px;
  margin-top: 90px; }

.inner-box {
  height: 500px;
  padding: 0; }

.top-pic {
  overflow: hidden;
  border-radius: 5px 0px 0px 5px; }

.top-pic img {
  width: 100%; }

.top-about {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-color: black;
  border-radius: 0px 5px 5px 0px; }

.top-about .pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: .2; }

.top-about .pattern img {
  width: 100%;
  height: 100%; }

.top-about h3 {
  position: relative;
  font-size: 54px;
  margin-top: -10px;
  text-transform: uppercase;
  display: inline-block;
  z-index: 4;
  color: #009e7d;
  font-weight: 600;
  font-family: roboto; }

.top-about h3 span {
  position: relative;
  display: block;
  left: 34%;
  z-index: 4;
  font-weight: 300;
  color: #676767;
  font-family: megrim;
  line-height: .5; }

.top-about .social {
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 5%;
  float: right;
  z-index: 4; }

.top-about .social ul {
  list-style: none; }

.top-about .social ul a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #00b388;
  color: #00b388;
  cursor: pointer;
  font-size: 18px;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: .3s ease;
  margin: 0 5px; }

.top-about .social ul a:hover {
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.7); }

.top-about .social ul a li i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%; }

.top-about .top-text {
  padding: 50px 40px;
  font-size: 18px;
  line-height: 1.5;
  display: block;
  z-index: 4;
  position: relative;
  color: #909090; }

.top-about .group-btn {
  position: absolute;
  z-index: 4;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%); }

.top-about .group-btn .btn {
  outline: none;
  margin: 5px;
  padding: 5px 25px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(0, 0, 0, 0);
  color: #e1e1e1;
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.5);
  transition: all .3s ease; }

.top-about .group-btn .btn:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  background-color: #009e7d; }

.top-about .group-btn .contact {
  padding: 4px 25px;
  border: 2px solid #e1e1e1; }

.top-about .group-btn .contact:hover {
  background: #009e7d;
  border: 2px solid #009e7d; }

.top-about .group-btn .hire {
  background: linear-gradient(-45deg, #003751, #2a526d);
  color: #e1e1e1; }

.top-about .group-btn .hire:hover {
  background: white !important;
  color: #003751; }

.top-about .top-svg {
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 2;
  height: 100%; }

.top-about .top-svg img {
  width: 100%; }

.box-page-2 h3 {
  position: absolute;
  border-bottom: 1px solid #009e7d;
  color: #909090;
  font-size: 54px;
  z-index: 2;
  font-family: roboto;
  font-weight: 200;
  left: 0; }

.box-page-2 .inner-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: 20px 20px 20px 0px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5); }

.box-page-2 .inner-box p {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #909090;
  font-size: 18px;
  text-shadow: 0px 0px rgba(0, 0, 0, 0.4); }

.box-page-3 h3 {
  position: absolute;
  border-bottom: 1px solid #009e7d;
  color: #909090;
  font-size: 54px;
  z-index: 2;
  font-family: roboto;
  font-weight: 200;
  right: 0; }

.box-page-3 .school {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  overflow-y: auto;
  height: 250px;
  width: 300px; }

.box-page-3 .school .school-item {
  background-color: white;
  width: 250px;
  height: 70px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 20px; }

.school .school-item .img {
  position: absolute;
  left: -15px;
  top: -10px;
  background-color: black;
  height: 40px;
  width: 40px;
  /* float: left; */
  border-radius: 5px; }

.school .school-item .img svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.school .school-item h5 {
  display: block;
  position: relative;
  top: 0px;
  color: #333;
  left: 15px;
  font-size: 18px; }

.school .school-item .location {
  position: relative;
  font-size: 12px;
  top: -10px;
  display: block;
  left: 15px; }

.school .school-item .status {
  position: relative;
  top: -10px;
  left: 15px;
  display: inline-block; }

.school .school-item .status.success {
  color: #00b388; }

.school .school-item .date {
  position: relative;
  top: -10px;
  float: right;
  display: inline-block; }

.skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 480px;
  height: 250px; }

.skills .skill-item {
  position: relative;
  width: 150px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  margin: 30px 30px 0px 0px;
  left: 30%;
  transform: translateX(-50%); }

.skills .skill-item .img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: -10px;
  left: -10px;
  float: left;
  background-color: black;
  border-radius: 5px; }

.skills .skill-item .img svg, .skills .skill-item .img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  float: left; }

.skills .skill-item h5 {
  padding: 0;
  padding-top: 5px;
  text-align: center; }

.skills .skill-item .status {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5px; }

.box-page-4 h3 {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #009e7d;
  color: #909090;
  font-size: 54px;
  z-index: 2;
  font-family: roboto;
  font-weight: 200;
  left: 0; }

.box-page-4 .conteudo {
  position: relative;
  width: 850px;
  height: 300px;
  margin: 50px auto; }

.box-page-4 .conteudo .previous p {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 28px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%; }

.box-page-4 .conteudo .next p {
  position: relative;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 28px;
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%; }

.box-page-4 .conteudo .slider {
  position: relative;
  height: 300px;
  overflow-X: hidden; }

.box-page-4 .conteudo .previous, .box-page-4 .conteudo .next {
  z-index: 5;
  position: absolute;
  left: -100px;
  height: 100%;
  cursor: pointer; }

.box-page-4 .conteudo .previous p i, .box-page-4 .conteudo .next p i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.box-page-4 .conteudo .next {
  top: 0;
  right: -100px !important;
  left: inherit; }

.box-page-4 .conteudo .content_slider {
  width: 2000px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transition: all 1s ease; }

.box-page-4 .conteudo .item {
  position: relative;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  height: 250px;
  background-color: purple;
  border-radius: 5px;
  margin: 0  10px; }

.box-page-4 .conteudo .item:hover {
  background-color: red; }

.filter {
  width: 100%;
  height: 55px;
  color: #c1c1c1;
  font-size: 15px;
  margin-top: 25px; }

.filter span {
  display: block;
  padding: 5px; }

.filter .filter-item {
  margin-left: 15px;
  display: inline-block;
  margin-top: 5px; }

.filter .filter-item:first-child {
  margin-left: 70px !important; }

.filter .filter-item input {
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  padding: 5px 25px;
  border: 1px solid #009e7d;
  color: #c1c1c1;
  outline: none; }

.filter .filter-item input:hover {
  background-color: #009e7d; }

/*# sourceMappingURL=main.css.map */
